fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

# RAG & VectorDB
langchain
langchain-community
langchain-google-genai
langchain-huggingface
ollama
chromadb
sentence-transformers

# Document Loaders
pypdf
python-docx

# Audio
openai-whisper
python-multipart

# Hugging Face Hub Utilities
hf_xet

# PyTorch
# torch
torch==2.7.1+cu126
torchaudio==2.7.1+cu126
# torchvision==0.22.1+cu126

# Frontend
streamlit
requests
streamlit-mic-recorder

# Desktop APP
PyQt6
sounddevice
numpy
faster-whisper
resampy
soundfile # for voice recognition testing